.track-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.track_details_header {
    display: flex;
    color: white;
    margin-right: 15px;
    font-size: 30px;
    font-family: 'Racing Sans One', 'Junge', serif;
    text-decoration: none;
    justify-content: center;
}

.header {
    display: flex;
    background-color: black;
    margin-bottom: 30px;
    justify-content: space-between;
}

.track__info {
    display: flex;
    color: white;
    font-size: 30px;
    font-family: 'Racing Sans One', 'Junge', serif;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    justify-content: center;
}

.track__image {
    margin-top: 30px;
}