
.navbar__wrapper {
    display: flex;
    margin-top: -16px;;
    justify-content: center;
}



.navbar {
    display: flex;
    flex: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: rgb(49, 49, 49);
    justify-content: space-evenly!important;
    margin-bottom: 0;
    margin-top: 16px;
    
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    color: white;
    font-size: 23px;
    
}

.navbar__link {
    display: flex;
    text-decoration: none;
    color: white;
    font-family: 'Racing Sans One', 'Junge', serif;
    font-size: 23px;
    
    justify-content: space-evenly;
}